@import 'variables.scss';
.item {
    position: relative;
    padding-bottom: 8px;
    color: $font-dark;
    .item--detail {
        padding: 4px 8px;
        .item--name {
            margin: 0;
            height: calc(1em + 8px);
            overflow-y: hidden;
        }
        .item--price-detail {
            display: flex;
            justify-content: space-between;
            .strong {
                font-weight: bold;
            }
        }
    }
    &:hover {
        box-shadow: 2px 2px 4px #ddd;
    }
}