$primary-color: #EA4F42;
$font-gray: #BDC4D0;
$font-light: #B2B2B7;
$font-dark: #434343;
$font-accent: #EA8604;
$dark-gray: #838383;
$gray: #ddd;
$light-gray: #F2F2F2;
$padding-x: 8px;
$padding-x-y: 8px 16px;
$sm-width: 640px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1280px;
$gap: 10px;
.img-thumbnail {
    width: 100%;
}